/default scratch.py
/selenium_drafts/selenium_for_age.py
/selenium_drafts/selenium_works.py
/selenium_drafts/selenium_works_12.py
/selenium_drafts/selenium_works_12_2.py
/selenium_drafts/selenium_works_12_3_logging.py
/steam_get_info_adar.py
/tests/steam_get_info_test_1.py
/gpt_fantasy/
/early_drafts/
/*.log
/__pycache__/
.DS_Store
steam_main_copy.py
steam_main_12.py
/tests/
/backup/
/m2_steam_scraper.zip
/m2*
steamgames*

